
    <header class="sr-only">
      <div>
        <h1 class="sr-only">Kanban Board</h1>
        <picture>
          <source
            media="(min-width: 49em)"
            [srcset]="
              isDarkMode
                ? 'assets/images/logo-light.svg'
                : 'assets/images/logo-dark.svg'
            "
            width="153"
            height="26"
          />

          <img
            ngSrc="assets/images/logo-mobile.svg"
            alt=""
            height="25"
            width="24"
            priority
          />
        </picture>
        <h2 class="sr-only">Platform Launch</h2>

        <button
          aria-label="show settings"
          (click)="openSetting()"
          class=""

        >
          <span aria-hidden="true">platform launch</span>
          <img
            ngSrc="assets/images/icon-chevron-down.svg"
            alt=""
            height="7"
            width="10"
            priority
            style="display: inline"
          />
        </button>

      </div>
      <app-theme-toggle></app-theme-toggle>
    </header>



